<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housing Market Final Analysis</title>

    <!-- CSS Imports -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/United/bootstrap.min.css">
    <link href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css" rel="stylesheet">
    <style>
      .navbar-brand img {
          height: 40px; 
      }
  </style> 
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="https://res.cloudinary.com/teach-simple/image/fetch/f_webp,q_70,c_pad,w_434,h_560/https://teachsimplecom.s3.us-east-2.amazonaws.com/images/find-me-a-home-housing-market-analysis-math-project-grades-3-5/image-1707868428406-1.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet_the_team">Meet the Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works_cited">Works Cited</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Page Title -->
<h1 class="text-center mt-6">Housing Market Data Analysis</h1>
<p class="text-center mt-4">Our in depth analysis</p>
<section class="container">
  <h2 class="text-center mt-3">Overview</h2class></h2>
  <p class="tex-dark">This project focuses on analyzing housing markets in various cities and states, particularly in the U.S. regions of Texas, North Carolina, and Virginia. By examining key metrics like median sale prices, square footage, inventory, and mortgage prices, we aim to uncover trends in the housing market. The goal is to identify patterns such as price growth, affordability, and the influence of demographic, cultural, and economic factors. We’ll also explore migration trends, investor behavior, and the effects of government policies on housing prices.</p>

<section class="container">
    <h2 class="text-center mt-3">Purpose</h2class></h2>
    <p class="tex-dark">This project was chosen because the housing market offers a rich dataset with meaningful insights into the economic and socio-cultural dynamics of different regions. Understanding these factors can help stakeholders—ranging from potential homebuyers to investors—make informed decisions. Through this project, we aim to answer key questions around housing affordability, trends, and regional market comparisons.</p>

<section class="container">
      <h2 class="text-center mt-3">Ethical Considerations</h2class></h2>
      <p class="tex-dark">In this project, we have carefully considered ethical implications related to data privacy and fairness. The data used primarily comes from publicly available sources, ensuring that sensitive personal information is not involved. We have also considered the potential impact of the analysis, especially in the context of housing affordability and the effects of demographic trends on different regions. In this dataset we did not find any sensitive data or identifying demographics. Nonetheless, we aim to present data-driven insights responsibly and avoid reinforcing any biases, particularly when analyzing factors like race, gender, or marital status in the housing market. We have cited the data sources below for transparency and validation data sources.</p>

      <section class="container">
        <h2 class="text-center mt-3">Our final Analysis</h2class></h2>
        <p class="tex-dark">The link below will send you to a slideshow presentation of our final analysis.</p>      
</head>
<div class="canva-container">
  <a href="https://project3housingmarket.my.canva.site/" target="_blank" class="btn btn-primary">
    View Presentation
 </a>
</div>
<footer class="bg-dark text-white text-center py-3">
  <p>&copy;Housing Market Project.</p>
</footer>

</body>

</html>