<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housing Market Final Analysis</title>

    <!-- CSS Imports -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/United/bootstrap.min.css">
    <link href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css" rel="stylesheet">
    <style>
      .navbar-brand img {
          height: 40px; 
      }
  </style> 
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="https://res.cloudinary.com/teach-simple/image/fetch/f_webp,q_70,c_pad,w_434,h_560/https://teachsimplecom.s3.us-east-2.amazonaws.com/images/find-me-a-home-housing-market-analysis-math-project-grades-3-5/image-1707868428406-1.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet_the_team">Meet the Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works_wited">Works Cited</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<!-- Page Title -->
<h1 class="text-center mt-3">Housing Market Data Analysis</h1>
<p class="text-center">Our in depth analysis</p>
<section class="container">
  <p class="dark">In this project</p>

</body>

</html>