<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team - Housing Market</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/United/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .navbar-brand img {
          height: 40px; 
      }
  </style>
  </head> 
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="https://res.cloudinary.com/teach-simple/image/fetch/f_webp,q_70,c_pad,w_434,h_560/https://teachsimplecom.s3.us-east-2.amazonaws.com/images/find-me-a-home-housing-market-analysis-math-project-grades-3-5/image-1707868428406-1.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet_the_team">Meet the Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works_cited">Works Cited</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1>Members of the Team!</h1>
            <p class="lead">Meet the analyists of the team behind this extensive project!</p>
        </div>
    </header>

    <section class="container-fluid my-5">
        <div class="row text-center">
            <div class="col-md-3">
              <p>Member 1</p>
                <h4>Andre Brantoro</h4>
                <a href="https://www.linkedin.com/in/andre-brantoro-009b53330/" class="btn btn-outline-dark btn-sm">LinkedIn</a>
                <a href="https://github.com/abrantoro" class="btn btn-outline-dark btn-sm">GitHub</a>
            </div>
            <div class="col-md-3">
              <p>Member 2</p>
                <h4>Catalina Malinowski</h4>
                <a href="https://www.linkedin.com/in/catalinamalinowski/" class="btn btn-outline-dark btn-sm">LinkedIn</a>
                <a href="https://github.com/clmj1727" class="btn btn-outline-dark btn-sm">GitHub</a>
            </div>
            <div class="col-md-3">
              <p>Member 3</p>
                <h4>Atnafu Ayalew</h4>
                <a href="https://www.linkedin.com/in/atnafu-brhane/" class="btn btn-outline-dark btn-sm">LinkedIn</a>
                <a href="https://github.com/atnafb" class="btn btn-outline-dark btn-sm">GitHub</a>
            </div>
            <div class="col-md-3">
              <p>Member 4</p>
                <h4>Jan Lelie</h4>
                <a href="https://github.com/DuBra01" class="btn btn-outline-dark btn-sm">GitHub</a>
            </div>
            <div class="col-md-3">
              <p>Member 5</p>
              <h4>Jake Weiss</h4>
              <a href="http://www.linkedin.com/in/jacob-weiss-" class="btn btn-outline-dark btn-sm">LinkedIn</a>
              <a href="https://github.com/Jake-W3iss" class="btn btn-outline-dark btn-sm">GitHub</a>
          </div>
          <div class="col-md-3">
            <p>Member 6</p>
            <h4>Justin Crockett</h4>
            <a href="https://github.com/jcrockva" class="btn btn-outline-dark btn-sm">GitHub</a>
        </div>
        <div class="col-md-3">
          <p>Member 7</p>
          <h5>ADonte Hunt</h5>
          <a href="https://www.linkedin.com/in/adontae-hunt-7ab542192?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="btn btn-outline-dark btn-sm">LinkedIn</a>
          <a href="https://github.com/ADontae" class="btn btn-outline-dark btn-sm">GitHub</a>
      </div>
      <div class="col-md-3">
        <p>Member 8</p>
        <h4>Amy Goodwin</h4>
        <a href="https://www.linkedin.com/in/amyhamptongoodwin/" class="btn btn-outline-dark btn-sm">LinkedIn</a>
        
        </div>
        <div class="col-md-3">
          <p>Member 9</p>
          <h4>Anna Elks</h4>
        
          </div>
          <div class="col-md-3">
            <p>Member 10</p>
            <h4>Maria Damte</h4>
            <a href="https://www.linkedin.com/in/mdamte?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" class="btn btn-outline-dark btn-sm">LinkedIn</a>
            
            </div>
            <div class="col-md-3">
              <p>Member 11</p>
              <h4>Mica Lenzo</h4>
              <a href="https://www.linkedin.com/in/mica-lenzo/" class="btn btn-outline-dark btn-sm">LinkedIn</a>
              
              </div>
              <div class="col-md-3">
                <p>Member 12</p>
                <h4>Jackson Wilhovsky</h4>
                <a href="https://www.linkedin.com/in/jackson-wilhovsky-72a46832b/" class="btn btn-outline-dark btn-sm">LinkedIn</a>
                <a href="https://github.com/JCWilhovsky" class="btn btn-outline-dark btn-sm">GitHub</a>
                </div>
    </section>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy;Housing Market Project.</p>
    </footer>

</body>
</html>