<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works Cited - MLB Data App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/United/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
      .navbar-brand img {
          height: 40px; 
      }
  </style>
  </head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="https://res.cloudinary.com/teach-simple/image/fetch/f_webp,q_70,c_pad,w_434,h_560/https://teachsimplecom.s3.us-east-2.amazonaws.com/images/find-me-a-home-housing-market-analysis-math-project-grades-3-5/image-1707868428406-1.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meet_the_team">Meet the Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/works_cited">Works Cited</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1>Works Cited</h1>
            <p class="lead">Sources and References used for Housing Market Data Project</p>
        </div>
    </header>

    <section class="container my-5">
        <h2>References/Sources</h2>
        <ul class="list-group">
          <li class="list-group-item"><span style="color: rgb(4, 4, 4);"></span> <a href="https://www.kaggle.com/datasets/vincentvaseghi/us-cities-housing-market-data" target="_blank">www.kaggle.com</a></li>
          <li class="list-group-item"><span style="color: rgb(4, 4, 4);"></span> <a href="https://www.redfin.com/us-housing-market" target="_blank">www.redfin.com</a></li>
          <li class="list-group-item"><span style="color: rgba(4,4, 4, 4);"></span> <a href="https://fred.stlouisfed.org/series/MORTGAGE30US" target="_blank">fred.stlouisfed.org/</a></li>
          <li class="list-group-item"><span style="color: rgba(4, 4, 4, 4);"></span> <a href="https://simplemaps.com/data/us-cities" target="_blank">www.simplemaps.com</a></li>
        </ul>
    


    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2026 Housing Market Data Project/ Team 3</p>
    </footer>

</body>
</html>